
{% extends 'navbar.html' %}

{% block content %}
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="py-3 mb-4"><span class="text-muted fw-light">Ajouter Etudiants</h4>
  
                <div class="row">
                  <div class="col-md-12">
                    <div class="card mb-4">
                      <h5 class="card-header">Ajouter Etudiants</h5>
                      <!-- Compte -->
                
                      <hr class="my-0" />
                      <div class="card-body">
                        <form action="{% url 'creation_etudiant' %}" method="post">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    <h3 style="color: red;">{{ message }}</h3>
                                {% endfor %}
                            {% endif %}                          <div class="row">
                            <div class="mb-3 col-md-12">
                                <label for="nom" class="form-label">Nom:</label><br>
                                <input type="text" class="form-control" id="nom" name="nom" required><br>
                                
                            </div>
                            <div class="mb-3 col-md-12">
                                <label for="prenom" class="form-label">Prénom:</label><br>
                                <input type="text" class="form-control" id="prenom" name="prenom" required><br>
                                
                            </div>
                            <div class="mb-3 col-md-12">
                                <label for="email" class="form-label">Email:</label><br>
                                <input type="email" id="email" class="form-control" name="email" required><br>
                            </div>

                              <div class="mb-3 col-md-12">
                                <label for="specialite" class="form-label">Spécialité:</label><br>
                                <select id="specialite" name="specialite" class="form-control">
                                    <option value="DSI">DSI</option>
                                    <option value="CNM">CNM</option>
                                    <option value="RSS">RSS</option>
                                </select>      
                            </div>
                            <div class="mb-3 col-md-12">
                                <label for="niveau" class="form-label">Niveau:</label><br>
                                <select id="niveau" class="form-control" name="niveau">
                                    <option value="L1">L1</option>
                                    <option value="L2">L2</option>
                                    <option value="L3">L3</option>
                                    <option value="M1">M1</option>
                                    <option value="M2">M2</option>
                                </select> </div>

                          </div>
                          <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                            <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                          </div>
                        </form>
                      </div>
                      <!-- /Compte -->
                    </div>
                  </div>
                </div>
                
              </div>
              <!-- / Content -->

              {% endblock content %}