
{% extends 'navbar.html' %}

{% load static %}


{% block title %}
  cree groupe
{% endblock %}

{% block content %}

<div class="content-wrapper">
  <!-- Contenu -->

  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Créer un groupe</span></h4>

      <div class="row">
          <div class="col-md-12">

              <div class="card mb-4">
                  <h5 class="card-header">Créer un groupe </h5>
                  <!-- Compte -->

                  <hr class="my-0" />
                  <div class="card-body">
                      <form id="formAccountSettings" method="POST" >
                        {% csrf_token %}

                          <div class="row">
                              <div class="mb-3 col-md-6">
                                  <label for="firstName" class="form-label">Nom :</label>
                                  <input class="form-control" type="text" id="firstName" name="nom_equipe"  autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="lead_id" class="form-label">Lead:</label>
                                  <select id="lead_id" name="lead_id" class="form-control">
                                      {% for utilisateur in utilisateurs %}
                                      <option value="{{ utilisateur.id }}">{{ utilisateur.email }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="adjoint_id" class="form-label">Adjoint:</label>
                                  <select id="adjoint_id" name="adjoint_id" class="form-control">
                                      {% for utilisateur in utilisateurs %}
                                      <option value="{{ utilisateur.id }}">{{ utilisateur.email }} {{ utilisateur.spécialité }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                <label class="form-label">Membres:</label><br>
                                {% for utilisateur in utilisateurs %}
                                <input class="form-control" type="checkbox" id="membre_{{ utilisateur.id }}" name="membres_ids" value="{{ utilisateur.id }}">
                                <label class="form-label" for="membre_{{ utilisateur.id }}">{{ utilisateur.email }} {{ utilisateur.spécialité }}</label><br>
                                {% endfor %}
                              </div>
                            </div>
                          <div class="mt-2">
                              <button type="submit" class="btn btn-primary me-2">Créer Équipe </button>
                              <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                          </div>
                      </form>
                  </div>
                  <!-- / Compte -->
              </div>

          </div>
      </div>
  </div>
  <!-- / Contenu -->



  <div class="content-backdrop fade"></div>
</div>

<script>
    document.querySelector('form').onsubmit = function() {
        var membres = document.querySelector('select[name="membresIDs"]');
        var selectedMembres = Array.from(membres.options).filter(option => option.selected);
        
        if (selectedMembres.length < 6 || selectedMembres.length > 8) {
            alert("Le nombre de membres doit être entre 6 et 8.");
            return false; // Empêche la soumission du formulaire
        }
        
        return true; // Permet la soumission du formulaire
    };
    </script>
    <script>
      document.querySelector('form').onsubmit = function() {
          var membres = document.querySelector('select[name="membresIDs"]');
          var selectedMembres = Array.from(membres.options).filter(option => option.selected);
          
          if (selectedMembres.length < 6 || selectedMembres.length > 8) {
              alert("Le nombre de membres doit être entre 6 et 8.");
              return false; // Empêche la soumission du formulaire
          }
          
          return true; // Permet la soumission du formulaire
      };
      </script>
     
{% endblock %}
