{% extends 'navbar.html' %}
{% load static %}

{% block title %}
  Créer une équipe
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <!-- Contenu -->
  
             
  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Créer une équipe</span></h4>

      <div class="row">
          <div class="col-md-12">

              <div class="card mb-4">
                  <h5 class="card-header">Créer une équipe</h5>
                  <hr class="my-0" />
                  <div class="card-body">
                    {% if messages %}
                      {% for message in messages %}
                        {% if message.tags == 'error' %}
                          <div class="alert alert-danger alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% elif message.tags == 'success' %}
                          <div class="alert alert-success alert-dismissible" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                    <form id="formAccountSettings" method="POST" action="{% url 'creer_equipe' %}" >
                      {% csrf_token %}
                      <div class="row">
                        <div class="mb-3 col-md-6">
                            <label for="firstName" class="form-label">Nom :</label>
                            <input class="form-control" type="text" id="firstName" name="nom_equipe"  autofocus  required/>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="lead_id" class="form-label">Lead:</label>
                            <select id="lead_id" name="lead_id" class="form-control" required>
                                {% for utilisateur in utilisateurs %}
                                <option value="{{ utilisateur.id }}">{{ utilisateur.email }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label for="adjoint_id" class="form-label">Adjoint:</label>
                            <select id="adjoint_id" name="adjoint_id" class="form-control" required>
                                {% for utilisateur in utilisateurs %}
                                <option value="{{ utilisateur.id }}">{{ utilisateur.email }} {{ utilisateur.spécialité }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3 col-md-6">
                          <label class="form-label">Membres:</label><br>
                          {% for utilisateur in utilisateurs %}
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="membre_{{ utilisateur.id }}" name="membres_ids" value="{{ utilisateur.id }}" required>
                              <label class="form-check-label" for="membre_{{ utilisateur.id }}">
                                {{ utilisateur.email }} {{ utilisateur.spécialité }}
                              </label>
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="mt-2">
                        <button type="submit" class="btn btn-primary me-2">Créer Équipe </button>
                        <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="content-backdrop fade"></div>
{% endblock %}
