{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h2>Inscription</h2>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="nom">Nom:</label><br>
        <input type="text" id="nom" name="nom"><br>
        
        <label for="prenom">Prénom:</label><br>
        <input type="text" id="prenom" name="prenom"><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        
        <label for="motdepasse">Mot de passe:</label><br>
        <input type="password" id="motdepasse" name="motdepasse"><br>
        
        <label for="role">Rôle:</label><br>
        <select id="role" name="role">
            <option value="Étudiant">Étudiant</option>
            <option value="Jury">Jury</option>
            <option value="Organisateur">Organisateur</option>
        </select><br>
        
        <label for="specialite">Spécialité:</label><br>
        <select id="specialite" name="specialite">
            <option value="DSI">DSI</option>
            <option value="CNM">CNM</option>
            <option value="RSS">RSS</option>
        </select><br>
        
        <label for="niveau">Niveau:</label><br>
        <select id="niveau" name="niveau">
            <option value="L1">L1</option>
            <option value="L2">L2</option>
            <option value="L3">L3</option>
            <option value="M1">M1</option>
            <option value="M2">M2</option>
        </select><br>
        
        <input type="submit" value="S'inscrire">
    </form>
</body>
</html>
