<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Défi</title>
</head>
<body>
    <h1>Create Défi</h1>
    <form method="post" action="{% url 'create_defi' %}">
        {{mess}}<br>
        {% csrf_token %}
        <label for="titre">Titre:</label><br>
        <input type="text" id="titre" name="titre" required><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" required></textarea><br>
        <label for="nom_file">Nom du fichier:</label><br>
        <input type="text" id="nom_file" name="nom_file" required><br>
        <label for="chemin_file">Chemin du fichier:</label><br>
        <input type="text" id="chemin_file" name="chemin_file" required><br>
        <label for="date_debut">Date de début:</label><br>
        <input type="date" id="date_debut" name="date_debut" required><br>
        <label for="date_fin">Date de fin:</label><br>
        <input type="date" id="date_fin" name="date_fin" required><br><br>
        <input type="checkbox" id="notification" name="notification" > envoi le notification<br><br>
        <button type="submit">Create Défi</button>
    </form>
</body>
</html>
