<div class="content-wrapper">
  <!-- Contenu -->

  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Créer un groupe</span></h4>

      <div class="row">
          <div class="col-md-12">

              <div class="card mb-4">
                  <h5 class="card-header">Créer un groupe </h5>
                  <!-- Compte -->
                  <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                          <img src="../assets/img/avatars/1.png" alt="avatar-utilisateur" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                          <div class="button-wrapper">
                              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                  <span class="d-none d-sm-block">Télécharger  logo du groupe</span>
                                  <i class="bx bx-upload d-block d-sm-none"></i>
                                  <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                              </label>


                              <p class="text-muted mb-0">JPG, GIF ou PNG autorisés. Taille maximale de 800K</p>
                          </div>
                      </div>
                  </div>
                  <hr class="my-0" />
                  <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                          <div class="row">
                              <div class="mb-3 col-md-6">
                                  <label for="firstName" class="form-label">Nom :</label>
                                  <input class="form-control" type="text" id="firstName" name="firstName" value="John" autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="firstName" class="form-label">Chargement</label>
                                  <input class="form-control" type="text" id="firstName" name="firstName" value="John" autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="lastName" class="form-label">adjoint</label>
                                  <input class="form-control" type="text" name="lastName" id="lastName" value="Doe" />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 1</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 2</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 3</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 4</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 5</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 6</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 7</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                          </div>
                          <div class="mt-2">
                              <button type="submit" class="btn btn-primary me-2">Enregistrer </button>
                              <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                          </div>
                      </form>
                  </div>
                  <!-- / Compte -->
              </div>

          </div>
      </div>
  </div>
  <!-- / Contenu -->

  <!-- Pied de page -->
  <footer class="content-footer footer bg-footer-theme">
      <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
          <div class="mb-2 mb-md-0">
              ©
              <script>
                  document.write(new Date().getFullYear());
              </script>
              , réalisé avec ❤️ par
              <a href="https://themeselection.com" target="_blank" class="footer-link fw-medium">ThemeSelection</a>
          </div>
          <div class="d-none d-lg-inline-block">
              <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">Licence</a>
              <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">Plus de thèmes</a>

              <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentation</a>

              <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank" class="footer-link">Support</a>
          </div>
      </div>
  </footer>
  <!-- / Pied de page -->

  <div class="content-backdrop fade"></div>
</div>
<div class="content-wrapper">
  <!-- Contenu -->

  <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="py-3 mb-4"><span class="text-muted fw-light">Créer un groupe</span></h4>

      <div class="row">
          <div class="col-md-12">

              <div class="card mb-4">
                  <h5 class="card-header">Créer un groupe </h5>
                  <!-- Compte -->
                  <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                          <img src="../assets/img/avatars/1.png" alt="avatar-utilisateur" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                          <div class="button-wrapper">
                              <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                  <span class="d-none d-sm-block">Télécharger  logo du groupe</span>
                                  <i class="bx bx-upload d-block d-sm-none"></i>
                                  <input type="file" id="upload" class="account-file-input" hidden accept="image/png, image/jpeg" />
                              </label>


                              <p class="text-muted mb-0">JPG, GIF ou PNG autorisés. Taille maximale de 800K</p>
                          </div>
                      </div>
                  </div>
                  <hr class="my-0" />
                  <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                          <div class="row">
                              <div class="mb-3 col-md-6">
                                  <label for="firstName" class="form-label">Nom :</label>
                                  <input class="form-control" type="text" id="firstName" name="firstName" value="John" autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="firstName" class="form-label">Chargement</label>
                                  <input class="form-control" type="text" id="firstName" name="firstName" value="John" autofocus />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label for="lastName" class="form-label">adjoint</label>
                                  <input class="form-control" type="text" name="lastName" id="lastName" value="Doe" />
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 1</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 2</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 3</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 4</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 5</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 6</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                              <div class="mb-3 col-md-6">
                                  <label class="form-label" for="country">membre 7</label>
                                  <select id="country" class="select2 form-select">
                                      <option value="">Sélectionner</option>
                                  </select>
                              </div>
                          </div>
                          <div class="mt-2">
                              <button type="submit" class="btn btn-primary me-2">Enregistrer les modifications</button>
                              <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                          </div>
                      </form>
                  </div>
                  <!-- / Compte -->
              </div>

          </div>
      </div>
  </div>
  <!-- / Contenu -->

  <!-- Pied de page -->
  <footer class="content-footer footer bg-footer-theme">
      <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
          <div class="mb-2 mb-md-0">
              ©
              <script>
                  document.write(new Date().getFullYear());
              </script>
              , réalisé avec ❤️ par
              <a href="https://themeselection.com" target="_blank" class="footer-link fw-medium">ThemeSelection</a>
          </div>
          <div class="d-none d-lg-inline-block">
              <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">Licence</a>
              <a href="https://themeselection.com/" target="_blank" class="footer-link me-4">Plus de thèmes</a>

              <a href="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/documentation/" target="_blank" class="footer-link me-4">Documentation</a>

              <a href="https://github.com/themeselection/sneat-html-admin-template-free/issues" target="_blank" class="footer-link">Support</a>
          </div>
      </div>
  </footer>
  <!-- / Pied de page -->

  <div class="content-backdrop fade"></div>
</div>
