
{% extends 'navbar.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4>

    <div class="row">
      <div class="col-md-10">
        <div class="card mb-4">
          <h5 class="card-header">Détails du Défi</h5> -->

    <h1>Liste des Jurys</h1>
    <ul>
    {% for jury in jurys %}
    <tr>
        <td>{{ jury.nom }}</td>
        <td> {{ jury.prénom }}</td>
        <td>{{ jury.email }}</td>
        <a href="{% url 'supprimer_jury' jury.id %}">Supprimer</a> 
        <a href="{% url 'modifier_jury' jury.id %}">Modifier</a>
    </tr>
    {% endfor %}
    </ul>

    {% endblock  %}

